
   <link rel="stylesheet" href="/css/home.css">
   
   <header class="hero">
      <ul class="heroMenu">
         <li><a href="/projects">Projects</a></li>
         <li><a href="/resume">Resume</a></li>
         <li id="contact"><a href="/contact">Contact Me</a></li>
         
      </ul>

      <ul class="titleElements">
         <li class="heroTitle">
            <h1>&#9702;B&#9702;A&#9702;G&#9702;</h1>
         </li>
         <li class="message" id="msg1">
            20&#9702;20
         </li>
         <li class="img">
            <div class="imgHero">
               <img class="mePic" src="/img/jorgeHero_big.png" alt="">
            </div>
         </li>
         <li class="message" id="msg2">
            <span>Jorge&#9702;Garciadiego</span> 
         </li>
         <li class="subtitle">
            <ul>
               <li>Programer</li>
               <li>Economist</li>
               <li>Protfolio</li>
            </ul>
         </li>
      </ul>
      
   </header>

   <article class="postHead">
      <h2 class="h2Post">"Curiosity about life in all of its aspects, I think, is still the secret of great creative people"</h2>

      <h2 class="h2postSource">- Leo Burnett.</h2>
   </article>

   <article class="post">
  
      <p class="pPost">The Bag is a project based on the concept of understanding programming as a creativity tool for the development of ideas in the closest way to its optimal prototype based on its functionality, the knowledge that supports its logic, and how we want them to look.</p>
  
      <div class="tip tip-right">
        <p class="pPost"> “Learning to write programs stretches your mind, and helps you think better, creates a way of thinking about things that I think is helpful in all domains.”
          —Bill Gates
        </p>
      </div>
  
  
      <p class="pPost">Today, information is one of the most valuable assets in the world. There are many actions that we can carry out to it, as it can be presented, processed, transferred, stored, queried, etc. therefore the volumes of information are increasing as the capacity of technology to save it and process it, thus now more than ever every area has an excellent opportunity to innovate the processes by which they use the information to have a better scope of your strategies, plans, procedures and operations.</p>
  
      <p class="pPost">
      Programming exploits efficiently and effectively the IT, enabling adaptation of the scenarios considering characteristics, restrictions towards a result, or on the other hand, to generate general or repetitive situations; This translates programming as a medium that can be used by everyone.
      </p>
  
      <blockquote>
        <p class="pPost">"decisions + ideas create paths to results"</p>
      </blockquote>
  
      <p class="pPost">Everything started five years ago when as a business analyst, my curiosity led me to learn SQL, and I realized that from the programming perspective I could reach the solutions to many of the limitations to the ideas that recur in my mind, this being the most effective way of working with information.</p>
  
      <figure>
        <img class="imgPost" src="/img/coding.jpeg" alt="Image">
        <figcaption>https://source.unsplash.com</figcaption>
      </figure>
  
  
      <p class="pPost">After realizing that I was already able to design and implement an idea as it is conceptualized, I decided to start the  <span> <a href="https://www.senecacollege.ca/programs/fulltime/CPA.html" target="blank">Computer Programming and Analysis</a></span> Program at <span> <a href="https://www.senecacollege.ca" target="blank">Seneca College</a></span>. After taking that step, I realized that there was more I could use like: object-oriented programming, full-stack development, no relational databases, and more.</p>
  
  
      <blockquote>
        <p class="pPost">"if you can think it, you can create it"</p>
      </blockquote>
  
      <div class="tip tip-left">
        <p class="pPost"> “We salute the coders, designers, and programmers already hard at work at their desks, and we encourage every student who can’t decide whether to take that computer science class to give it a try.” <br>
          <span>—Michael Bloomberg. Former Mayor, New York City</span> 
        </p>
      </div>
  
      <p class="pPost">At this point of my learning process, I possess the ability to begin a collaborative experience in which I contribute a solid vision from my experience and knowledge of the economic and business field, which, together with my updated knowledge in programming, make me a proposal of a developer capable of connecting technological solutions with business objectives.</p>
  
      
      <p class="pPost author">&#9702;Jorge Garciadiego&#9702;</p>
      
  
    </article>